[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Exec=/usr/local/libexec/meego-panel-devices
TryExec=/usr/local/libexec/meego-panel-devices
Name=devices
Name[ar]=أجهزة
Name[ast]=preseos
Name[ca]=dispositius
Name[ca@valencia]=dispositius
Name[cs]=Zařízení
Name[da]=enheder
Name[de]=Geräte
Name[en_GB]=devices
Name[es]=dispositivos
Name[fa]=ابزار
Name[fi]=laitteet
Name[fr]=périphériques
Name[gl]=dispositivos
Name[hu]=eszközök
Name[id]=perangkat
Name[it]=dispositivi
Name[ja]=デバイス
Name[ko]=장치
Name[nl]=apparaten
Name[pa]=ਜੰਤਰ
Name[pl]=urządzenia
Name[pt]=dispositivos
Name[pt_BR]=dispositivos
Name[ru]=устройства
Name[sk]=zariadenia
Name[sv]=enheter
Name[tr]=cihazlar
Name[wa]=éndjins
Name[zh_CN]=设备
Name[zh_TW]=裝置
Icon=meego-panel-devices
Comment=Devices panel
Comment[ar]=لوحة الأجهزة
Comment[ast]=Panel de preseos
Comment[ca]=Tauler dels dispositius
Comment[ca@valencia]=Tauler dels dispositius
Comment[cs]=Panel Zařízení
Comment[da]=Enhedspanel
Comment[de]=Panel »Geräte«
Comment[en_GB]=Devices panel
Comment[es]=Panel de dispositivos
Comment[fa]=قاب ابزارها
Comment[fi]=Laitteet-paneeli
Comment[fr]=Panneaux des périphériques
Comment[gl]=Panel de dispositivos
Comment[hu]=Eszközök panel
Comment[id]=Panel perangkat
Comment[it]=Pannello dispositivi
Comment[ja]=デバイスパネル
Comment[ko]=장치 패널
Comment[nl]=Apparaten paneel
Comment[pa]=ਜੰਤਰ ਪੈਨਲ
Comment[pl]=Panel urządzeń
Comment[pt]=Painel de dispositivos
Comment[pt_BR]=Painel de dispositivos
Comment[ru]=Панель устройств
Comment[sk]=Panel zariadení
Comment[sv]=Enhetspanel
Comment[tr]=Cihazlar paneli
Comment[wa]=Sicriftôr des éndjins
Comment[zh_CN]=设备面板
Comment[zh_TW]=裝置面板
Terminal=false
Categories=
OnlyShowIn=X-MEEGO-NB;
X-Meego-Priority=Late
X-Meego-Service=com.meego.UX.Shell.Panels.devices
X-Meego-Panel-Optional=false
X-Meego-Panel-Button-Style=devices-button
